# MUI X Pro licence key for @mui/x-data-grid-pro, injected into the bundle at
# build time. Without it the data grids render with a watermark.
#
# Copy this file to `gateway/.env` (gitignored) and fill in the key. For
# container builds pass it as the VITE_MUI_X_LICENSE_KEY build argument; for CI
# store it as a secret. Never commit the key — this repository is the source of
# the open-source release artifacts.
VITE_MUI_X_LICENSE_KEY=
